PORT="suaPorta"
USER="seuUserNoBD"
PASS="suaSenhaNoBD"
DB_PORT="suaPortaParaSeuBD"
JWT_KEY="suaChaveJWT"
DB_NAME="nomeDoSeuBD"
SHADOW_DB_NAME="nomeDoSeuShadowBD"

SERVER_PORT=${PORT}
DATABASE_URL="mysql://${USER}:${PASS}@localhost:${DB_PORT}/${DB_NAME}"
SHADOW_DATABASE_URL="mysql://${USER}:${PASS}@localhost:${DB_PORT}/${SHADOW_DB_NAME}"
JWT_SECRET="${JWT_KEY}"